<md-dialog flex="75">
  <form name="lform">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Datos para la Liquidación</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="promptLiquidacion.cancel()">
          <md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content md-dynamic-height layout-padding>

      <div class="md-dialog-content" layout="column">
        <md-input-container>
          <label> Recibi de: </label>
          <input type="text" ng-model="promptLiquidacion.pagoDep" required>
        </md-input-container>


        <md-toolbar>
          <div class="md-toolbar-tools">
            <h6>Formulario V-A</h6>
            <span flex></span>
            <md-button ng-click="promptLiquidacion.v_a = !promptLiquidacion.v_a">
              <md-icon md-svg-icon="action:ic_swap_vertical_circle_24px" aria-label="formulario V-A"></md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <div ng-if="promptLiquidacion.v_a" layout="column">
          <md-input-container>
            <label> Numbero de formulario V-A </label>
            <input type="text" ng-model="promptLiquidacion.v_aNumber" required>
          </md-input-container>

          <md-input-container>
            <label> Cantidad recibida </label>
            <input type="text" ng-model="promptLiquidacion.recibido" required>
          </md-input-container>
        </div>
      </div>

      <md-tabs md-dynamic-height md-border-bottom>
       <md-tab ng-repeat="tab in promptLiquidacion.selected" label="{{tab.nombramiento}}">
         <md-content class="md-padding" layout="column">

           <md-input-container ng-repeat="lugar in tab.datos_comision.lugares" >
             <label> Fraccion Dias en {{ lugar.dependencia }} </label>
             <input type="number" ng-model="lugar.dias" required>
           </md-input-container>

         </md-content>
       </md-tab>
     </md-tabs>
    </md-dialog-content>

    <div class="md-actions" layout="row">
      <a class="md-button" ng-disabled="lform.$invalid" ng-click="promptLiquidacion.liquidacionPDF()">PDF</a>
    </div>

  </form>
</md-dialog>
