<form>
  <label>Código de Dependencia</label>
  <input type="text" ng-model="nuevaDependencia.dependencia._id" />
  <label>Nombre de Dependencia</label>
  <input type="text" ng-model="nuevaDependencia.dependencia.nombre">
  <label>Municio de Depedencia</label>
  <input type="text" ng-model="nuevaDependencia.dependencia.municipio" />
  <label>Departamento de Dependencia</label>
  <input type="text" ng-model="nuevaDependencia.dependencia.departamento" />
  <label>Encargado de la Depedencia</label>
  <input type="text" ng-model="nuevaDependencia.dependencia.encargado" />
  <button ng-click="nuevaDependencia.ingresar()"> + </button>
</form>
