<form name="pform">
  <div flex layout="row" layout-align="center" layout-margin>
    <md-whiteframe layout="column" flex flex-md="50" flex-lg="75" flex-gt-lg="33" class="md-whiteframe-2dp">

      <md-toolbar class="md-primary" layout="column" layout-align="end">
        <div layout="row" class="md-toolbar-tools">
          <h3> Planilla de Pasajes </h3>
        </div>
      </md-toolbar>

      <div layout="column" layout-padding layout-margin>

        <md-content>
          <md-tabs md-selected="1" md-border-bottom md-autoselect md-dynamic-height>
            <md-tab label="{{$index + 1}}" ng-repeat="factura in pPasajes.pasajes.facturas"> <!-- ng-if="planillas.nombramiento.datos_comision.transUrbano" -->

              <div layout="column" flex="90">
                <h4>Fecha</h4>
                <div layout-gt-xs="row" layout-margin>
                  <md-datepicker ng-model="factura.fecha" md-min-date="pPasajes.nombramiento.datos_comision.fechaI" md-placeholder="fecha" required></md-datepicker>
                </div>

                <md-input-container>
                  <label>Numero de Factura</label>
                  <input type="text" ng-model="factura.nfactura" required />
                </md-input-container>

                <h4>Lugar de Salida</h4>
                <md-content layout="row">
                  <md-input-container>
                    <label>Municipio</label>
                    <input type="text" ng-model="factura.lugarSalida.municipio" required />
                  </md-input-container>

                  <md-input-container>
                    <label>Departamento</label>
                    <input type="text" ng-model="factura.lugarSalida.departamento" required />
                  </md-input-container>
                </md-content>

                <h4>Lugar de Llegada</h4>
                <md-content layout="row">
                  <md-input-container>
                    <label>Municipio</label>
                    <input type="text" ng-model="factura.lugarLlegada.municipio" required />
                  </md-input-container>

                  <md-input-container>
                    <label>Departamento</label>
                    <input type="text" ng-model="factura.lugarLlegada.departamento" required />
                  </md-input-container>
                </md-content>

                <md-input-container>
                  <label>Valor de Pasaje</label>
                  <input type="text" ng-model="factura.valorPasaje" required />
                </md-input-container>

                <div layout='row' layout-align="end">
                  <md-button class="md-accent md-raised" ng-if="$index" ng-click="pPasajes.removePasaje($index)">Remover Pasaje</md-button>
                </div>

              </div>

            </md-tab>
          </md-tabs>

          <md-button class="md-primary md-raised" ng-click="pPasajes.addPasaje()">Añadir Pasaje</md-button>

        </md-content>

        <div layout="row" layout-align="end">
          <h4 layout-margin>Total: Q{{ pPasajes.total }}</h4>
        </div>

        <md-input-container>
          <label>Observaciones:</label>
          <input type="text" ng-model="pPasajes.pasajes.observaciones" />
        </md-input-container>

        <div layout="row" layout-align="end">
          <md-button class="md-accent" ui-sref="listadoNombramientos"> Cancelar </md-button>
          <a ng-disabled="pPasajes.pdfDisabled" class="md-button md-raised" ng-click="pPasajes.pPDF()">PDF</a>
          <md-button class="md-raised md-primary" ng-disabled="pform.$invalid" ng-click="pPasajes.guardar()"> Aceptar </md-button>
        </div>

      </div>

    </md-whiteframe>
  </div>
</form>
