<div layout="column">

    <md-content>
      <md-tabs md-selected="0" md-border-bottom md-autoselect md-dynamic-height>
        <md-tab ng-if="planillas.nombramiento.datos_comision.vehiculoInst" label="Vehiculo Institucion">

          <div layout="column" flex="90">
            <p-vehiculo-i nombramiento="planillas.nombramiento"></p-vehiculo-i>
          </div>

        </md-tab>

        <md-tab ng-if="planillas.nombramiento.datos_comision.vehiculoProp" label="Vehiculo Propio">

          <div layout="column" flex="90">
            <p-vehiculo-p nombramiento="planillas.nombramiento"></p-vehiculo-p>
          </div>

        </md-tab>

        <md-tab ng-if="planillas.nombramiento.datos_comision.transUrbano" label="Pasajes">

          <div layout="column" flex="90">
            <p-pasajes nombramiento="planillas.nombramiento"></p-pasajes>
          </div>

        </md-tab>
      </md-tabs>

    </md-content>

</div>
