<form>
  <label>Primer Nombre</label>
  <input type="text" ng-model="nuevoEmpleado.empleado.pnombre" />
  <label>Segundo Nombre</label>
  <input type="text" ng-model="nuevoEmpleado.empleado.snombre" />
  <label>Primer Apellido</label>
  <input type="text" ng-model="nuevoEmpleado.empleado.papellido" />
  <label>Segundo Apellido</label>
  <input type="text" ng-model="nuevoEmpleado.empleado.sapellido" />
  <label>Código de Dependencia</label>
  <input type="text" ng-model="nuevoEmpleado.empleado.dependencia_id" />
  <label>Cargo</label>
  <input type="text" ng-model="nuevoEmpleado.empleado.cargo" />
  <label>Renglon</label>
  <input type="text" ng-model="nuevoEmpleado.empleado.renglon" />
  <label>Sueldo</label>
  <input type="text" ng-model="nuevoEmpleado.empleado.sueldoMensual" />
  <label>NIT</label>
  <input type="text" ng-model="nuevoEmpleado.empleado._id" />
  <button ng-click="nuevoEmpleado.ingresar()"> + </button>
</form>
