<section layout-fill ng-if="navigation.usuario">
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4" layout-fill>
    <md-toolbar>
      <h4 layout="row" layout-align="center center">Menu</h4>
    </md-toolbar>

    <md-subheader ng-if="navigation.usuario.admin">Administración</md-subheader>

    <md-list>
      <md-list-item class="sn-menu" ng-if="navigation.usuario.admin"
        ng-click="navigation.toggleLeft()" href="agregar-empleado" md-ink-ripple >
        <md-item-content layout="row" layout-align="start center">
          <div class="inset">
            <ng-md-icon></ng-md-icon>
          </div>
          <div class="inset"> Agregar Empleado </div>
        </md-item-content>
      </md-list-item>

      <md-list-item class="sn-menu" ng-if="navigation.usuario.admin"
        ng-click="navigation.toggleLeft()" href="modificar-empelados" md-ink-ripple >
          <md-item-content layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon></ng-md-icon>
            </div>
            <div class="inset"> Listado Empleados </div>
          </md-item-content>
      </md-list-item>

      <md-list-item class="sn-menu" ng-if="navigation.usuario.admin"
        ng-click="navigation.toggleLeft()" href="agregar-dependencia" md-ink-ripple >
        <md-item-content layout="row" layout-align="start center">
          <div class="inset">
            <ng-md-icon></ng-md-icon>
          </div>
          <div class="inset"> Agregar Dependencia </div>
        </md-item-content>
      </md-list-item>

      <md-list-item class="sn-menu" ng-if="navigation.usuario.admin" href="modificar-dependencias"
        ng-click="navigation.toggleLeft()" md-ink-ripple >
          <md-item-content layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon></ng-md-icon>
            </div>
            <div class="inset"> Listado Dependencias </div>
          </md-item-content>
      </md-list-item>

      <md-list-item class="sn-menu" ng-if="navigation.usuario.admin"
        ng-click="navigation.toggleLeft()" href="nuevo-vehiculo-i" md-ink-ripple >
        <md-item-content layout="row" layout-align="start center">
          <div class="inset">
            <ng-md-icon></ng-md-icon>
          </div>
          <div class="inset"> Agregar Vehiculo Institucion </div>
        </md-item-content>
      </md-list-item>

      <md-list-item class="sn-menu" ng-if="navigation.usuario.admin"
        ng-click="navigation.toggleLeft()" href="listado-vehiculos-i" md-ink-ripple >
        <md-item-content layout="row" layout-align="start center">
          <div class="inset">
            <ng-md-icon></ng-md-icon>
          </div>
          <div class="inset"> Listado Vehiculos Institucion </div>
        </md-item-content>
      </md-list-item>

      <md-list-item class="sn-menu" ng-if="navigation.usuario.admin" href="ls-nombramientos-adm"
        ng-click="navigation.toggleLeft()" md-ink-ripple >
          <md-item-content layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon></ng-md-icon>
            </div>
            <div class="inset"> Todos los Nombramientos </div>
          </md-item-content>
      </md-list-item>

      <md-divider></md-divider>
      <md-subheader>Comision</md-subheader>

      <md-list-item class="sn-menu" href="comision-nombramiento" ng-click="navigation.toggleLeft()" md-ink-ripple >
          <md-item-content layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon></ng-md-icon>
            </div>
            <div class="inset"> Nombramiento Comision </div>
          </md-item-content>
      </md-list-item>

      <md-list-item class="sn-menu" href="listado-nombramientos" ng-click="navigation.toggleLeft()" md-ink-ripple >
          <md-item-content layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon></ng-md-icon>
            </div>
            <div class="inset"> Listado de Nombramientos </div>
          </md-item-content>
      </md-list-item>

      <md-list-item class="sn-menu" href="liquidacion" ng-click="navigation.toggleLeft()" md-ink-ripple >
          <md-item-content layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon></ng-md-icon>
            </div>
            <div class="inset"> Liquidacion de Viaticos </div>
          </md-item-content>
      </md-list-item>

    </md-list>

  </md-sidenav>
</section>
