<section layout-fill>
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4" layout-fill>
    <md-toolbar>
      <h4 layout="row" layout-align="center center">Menu</h4>
    </md-toolbar>

    <md-list>
      <md-list-item ng-if="navigation.usuario.admin" md-ink-ripple >
        <a href="agregar-empleado">
          <md-item-content layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon></ng-md-icon>
            </div>
            <div class="inset"> Agregar Empleado </div>
          </md-item-content>
        </a>
      </md-list-item>

      <md-list-item ng-if="navigation.usuario.admin" md-ink-ripple >
        <a href="modificar-empelados">
          <md-item-content layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon></ng-md-icon>
            </div>
            <div class="inset"> Modificar Empleados </div>
          </md-item-content>
        </a>
      </md-list-item>

      <md-list-item ng-if="navigation.usuario.admin" md-ink-ripple >
        <a href="agregar-dependencia">
          <md-item-content layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon></ng-md-icon>
            </div>
            <div class="inset"> Agregar Dependencia </div>
          </md-item-content>
        </a>
      </md-list-item>

      <md-list-item ng-if="navigation.usuario.admin" md-ink-ripple >
        <a href="modificar-dependencias">
          <md-item-content layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon></ng-md-icon>
            </div>
            <div class="inset"> Modificar Dependencia </div>
          </md-item-content>
        </a>
      </md-list-item>

      <md-list-item ng-if="navigation.usuario" md-ink-ripple >
        <a href="comision-nombramiento">
          <md-item-content layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon></ng-md-icon>
            </div>
            <div class="inset"> Nombramiento Comision </div>
          </md-item-content>
        </a>
      </md-list-item>

    </md-list>

    <!--
    <md-content layout-padding>
      <ul ng-if="navigation.usuario.admin" ng-class="side-menu">

      </ul>
      <a>Crear Comision</a>
      <a>Ver Todas las Comisiones</a>
    </md-content>
  -->

  </md-sidenav>
</section>
